##################### enable this block to make SSL available _only_ #####################
ssl.engine = "enable" 
ssl.pemfile = "/etc/lighttpd/ssl/server.pem"
##########################################
##################### enable this block to make SSL available next to http #####################
#$SERVER["socket"] == ":443" {
#     ssl.engine                  = "enable" 
#     ssl.pemfile                 = "/etc/lighttpd/ssl/server.pem" 
# }
##########################################
